<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

    {{!-- {{> base/meta}} --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
    <link inline rel='stylesheet' href='bundle.css' />
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap" rel="stylesheet">

    {{> base/font}}


    <script inline src='head.js'></script>

    {{> base/analytics }}

</head>

<body>

    {{!-- {{> base/header 'sticky'}} --}}

    <main id='content'>

        {{> story/main }}
        {{!-- delete guide and put your html here --}}
        {{!-- {{> base/guide }} --}}

    </main>

    {{!-- {{> base/footer }} --}}


    <script src='{{basepath}}assets/scripts/d3.v5.10.0.min.js'></script>
    <script src='main.js?version={{timestamp}}' async></script>
    <script src="{{basepath}}assets/scripts/choices.min.js"></script>
</body>

</html>