/* CUSTOM STORY STYLE */

.intro
    background: linear-gradient(180deg, rgba(255, 90, 129, 0.98) 0%,rgba(175, 40, 150, 0.98) 100%)    
    display: flex;
    padding-top 3rem
    padding-right 3rem
    padding-left 3rem
    flex-direction: row;    
    height 100%
    @media (max-width: 550px)
        margin 0rem 0rem 0rem 0rem
        padding 4rem 3rem 3rem 3rem
        display: block;
        
    &__sidebar        
        height 100%
        width  3rem
        position fixed
        z-index: 1
        top 0
        left 0
        display flex
        flex-direction: column
        justify-content: space-between
        padding-top 1rem
        padding-bottom 1rem
        padding-left 1rem
        @media (max-width: 550px)
            width  1.5rem

.enter-arrow
    stroke: #fff;
    width: 60%;
    height: 60%;
    transform: rotate(90deg)

    &__container
        width: 4rem;
        height: 4rem;
        background-color: #000
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor pointer
        margin 0 auto
        @media (max-height: 700px)
            width: 2.5rem;
            height: 2.5rem;
            // display none 

.byline-container
    // position absolute
    bottom 1rem
    left 4rem
    text-align: center
    @media (max-width: 550px)
        position relative
        margin-top 5rem
        left 0
        // padding-left 3rem


.byline    
    margin 0
    font-family: 'Share Tech Mono', monospace;
    color white    
    font-size 14px
    @media (max-width: 1250px)
        font-size 14px
    @media (max-width: 550px)
        font-size 12px    
    @media(max-height:700px)
        font-size: 14px    

    a
        color white
        border-bottom: 1px solid #fff


.intro-text 
    // margin-left: 3rem        
    .intro-hed
        text-align: center
        font-size 72px
        color white
        font-family 'Share Tech Mono', monospace;
        padding-left 0
        padding-top 4rem
        padding-bottom 4rem    
        margin-top 0
        margin-bottom 0
        @media (max-width: 1350px)
            font-size 48px        
        @media (max-width: 700px)
            color white
            font-size 42px
            padding-top 2rem
            padding-bottom 2rem
        @media(max-height:750px)
            font-size 42px
            padding-top 2rem
            padding-bottom 2rem

            
        
    
.intro-body
    font-size 24px
    color: #fff;
    font-family: 'Share Tech Mono', monospace;
    padding-left 0
    @media (max-width: 1250px)
        font-size 24px
    @media (max-width: 700px)
        color white
        font-size 18px
    @media (max-height:700px)
        font-size 18px
    // @media (max-width:1800px) and (max-height:1100px)
    //     padding-top 4rem
    //     padding-bottom 4rem


.info
    cursor pointer

.method 
    margin-right: 3rem      
    margin-top 2rem 
    margin-bottom 2rem
    font-family: 'Share Tech Mono', monospace;
    border: 1px solid white
    padding 1rem 1rem 0 1rem
    

.method
    &__hed
        color: #fff;
        text-align center

    &__body   
        color: #fff; 
        padding-bottom 1rem
        font-size 16px
        
    
    &__close
        background-color: black
        color white
        width 5rem
        text-align: center
        margin 0 auto
        font-weight 800
        cursor pointer

.tooltip
    position absolute
    max-width 400px
    // height 200px
    background-color: white
    z-index: 100
    pointer-events: none
    @media (max-width: 550px)
        pointer-events: auto
        max-width 200px
    

    &__meta
        font-size 16px    
        padding-left 1rem
        padding-right 1rem
        @media (max-width: 550px)
            font-size 10px
            margin 0.5rem 0

    &__hed
        font-size 24px
        text-transform: capitalize
        padding-left 1rem
        padding-right 1rem
        @media (max-width: 550px)
            font-size 14px
            margin 0.5rem 0

    &__other-verbs
        font-size 12px
        padding-left 1rem
        padding-right 1rem
        color gray
        @media (max-width: 550px)
            font-size 12px   
            margin 0.5rem 0     
    
    &__progress-bar-background
        width 100%
        height 0.5rem
        background-color: gray
    
    &__progress-bar-foreground
        width 0%
        height 100%
        background linear-gradient(rgba(175, 40, 150, 0.98) 0%, rgba(255, 90, 129, 0.98) 100%)
        max-width 100%
        // background linear-gradient(toright, 180deg, #34A29E 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(toright, 180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FF533D;        
        // background linear-gradient(to right, #34A29E, #FF533D)

    
.watermark
    padding-top 1rem
    text-align: center
    width 30%
    margin 0 auto

#content
    height 100%

.main-page
    background #282828
    height 100% 
    display: flex
    flex-direction: row

    &__sidebar        
        height 100%
        width  3rem
        position fixed
        z-index: 1
        top 0
        left 0
        display flex
        flex-direction: column
        justify-content: space-between
        padding-top 1rem
        padding-bottom 1rem
        padding-left 1rem
    
    &__content
        margin-left: 3rem
        @media (max-width: 550px)
            margin-left: 1.5rem

.content        
    padding-right: 3rem;    
    @media (max-width: 550px)
        padding-left 0
        padding-right 1rem


.mark
    max-width: 2rem
    @media (max-width: 550px)
        max-width: 1rem


.button
    text-align: center
    max-width: 30%
    font-size: 18px
    padding-bottom: 1rem
    cursor pointer

.mono
    font-family 'Menlo','Consolas','Monaco','Courier New',monospace

.verb-container
    padding-top: 2rem
    position relative

.verb-name
    color #FF5A81
    text-transform: uppercase
    padding-top 1rem

.verb-selected
    border-bottom: 1px white solid;

.additional-verbs
    font-weight 600

.noun
    color white
    font-size: 14px
    cursor pointer
    display: inline-block
    
// .noun:nth-child(n+2)
    // padding-left 0.5rem

.noun-selected        
    text-decoration: underline;

.hidden
    display none

.article-container
    border-bottom 1px dashed black
    cursor pointer 

.article-hed    
    text-transform: capitalize
    font-size: 24px
    font-weight: 600
    font-family: 'Share Tech Mono', monospace;

.article-snippet
    font-family: $national 

.click-more
    font-size 12px
    font-color black
    background-color gray

.search-noun
    padding-right 3rem
    @media (max-width: 550px)
        padding-right 1rem
        padding-left 1rem

    &__input
        width 100%
        box-sizing border-box
        border 2px solid #ccc
        border-radius 4px
        font-size 16px
        background-color black
        background-image url('assets/images/search.png')
        background-position 10px 10px
        background-repeat: no-repeat
        padding 12px 20px 12px 40px
        font-family: 'Share Tech Mono', monospace;
        color #ccc

.choices__list--single
    font-family: 'Share Tech Mono', monospace;

.choices
    border-bottom: 1px gray solid

    &__inner
        background-color: #282828    
        color white
        border: 0

.choices__item--selectable
    font-size: 48px
    @media (max-width: 550px)
        font-size 24px

.search-verb
    width 20rem
    
.fixed-search-bar
    width 100%
    z-index 100
    position: fixed
    background: #282828    
    width  100%
    position fixed
    z-index: 1
    top 0      
    padding-left 3rem  
    @media (max-width:550px)
        padding-left: 1.5rem;

// .fixed-search-bar-on
//     width: 100%;
//     position: fixed;
//     z-index: 100;
//     top: 0%;
//     background: #282828;


.nav-container
    display: flex
    flex-direction: column
    padding 1rem
    width 100%
    background-color #282828

.nav-label    
    font-size: 24px
    color white
    font-family: 'Share Tech Mono', monospace;
    @media (max-width: 550px)
        font-size 18px  

.nav-bar
    display: flex
    flex-direction: row
    justify-content: space-between  


.separator
    font-size 36px
    padding-top 2rem
    color white
    margin-top 10rem
    @media (max-width: 550px)
        font-size 24px  
    
.faded
    color gray    

.shepherd 
    .shepherd-button 
        font-family: 'Share Tech Mono', monospace;
        color: #FFF;
        background-color: #AF2896;

    .shepherd-text
        font-family: 'Share Tech Mono', monospace;
        color: #000
        max-width: 20rem
        text-align: left;
        padding-right: 3rem;

.shepherd-content
    .shepherd-header
        background-color: transparent

.invisible
    visibility: hidden

#logo
    fill white  
    max-width: 100%  

.info
    display: none
    svg 
        fill white

.choices[data-type*=select-one]:after
    border-color #f0f0f0 transparent transparent 

.choices__list--dropdown .choices__item
    font-family: 'Share Tech Mono', monospace;

.masthead
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    a
        display: block;
        border: none;
        max-width: 9rem;
        margin: 1rem auto;        

    #wordmark
        fill: #fffaf0;
        fill-opacity: .8;
        display: block;
        width: 100%;

// .masthead
//     position: absolute;
//     top: 1rem;
//     left: 50%;
//     display: block;
//     max-width: 10%;
//     transform: translate(-50%,0);
//     @media(max-width 550px)
//         position: relative 
//         height 2rem

//     #wordmark
//         display: block;
//         fill: white;
//         height 2rem
//         @media(max-width 550px)
//             width 100%
//             height 100%
//             margin 0 auto
//             fill #fff
//             display: block

.tour-label
    font-family: 'Share Tech Mono', monospace;
    color white
    text-align center

.highlight
    background-color: rgba(175, 40, 150, 0.97)     
    color: white;

select.search-verb__input
    display: none


// footer.pudding-footer .footer-recirc .article__headline
//     font-family: 'Share Tech Mono', monospace;

// footer.pudding-footer .footer-social
//     font-family: 'Share Tech Mono', monospace;

// footer.pudding-footer .footer-social__preach span    
//     font-family: 'Share Tech Mono', monospace;

// .footer-company__description
//     font-family: 'Share Tech Mono', monospace;

// .footer-company__trademark
//     font-family: 'Share Tech Mono', monospace;

// .footer-company__cta-list  
//     li
//         a
//             p
//                 font-family: 'Share Tech Mono', monospace;