<section class='intro'>
    <div class='masthead'><a href='https://www.pudding.cool'><img inline src='pudding/wordmark.svg'></a></div>
    <div class='intro-text'>

        <p class='intro-hed'>Millennials Kill Everything</p>
        <div class='byline-container'>
            <p class='byline'>DATA AND STORY BY <a target="_blank"
                    href="https://pudding.cool/author/alexandra-saizan">ALEXANDRA
                    SAIZAN</a></p>
            <p class='byline'> DESIGN + DEVELOPMENT <a href="https://pudding.cool/author/ilia-blinderman/">ILIA
                    BLINDERMAN</a> AND <a href="https://pudding.cool/author/jan-diehm/">JAN DIEHM</a></p>
        </div>
        <p class='intro-body'>...OK, not really. But we’ve seen countless stories about what millennials have killed.
            From napkins to marriage to Applebees, just looking at headlines you’d
            guess that for the past decade the millennial generation's been on a rampage. But we wanted to dig deeper:
            how does popular media report on millennials more broadly?
        </p>
        <div class='tour-container'>
            <div class='enter-arrow__container'>
                <svg class='enter-arrow' width="24" height="24" fill="none" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="feather feather-arrow-right" viewBox="0 0 24 24">
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                    <polyline points="12 5 19 12 12 19"></polyline>
                </svg>

            </div>
            <p class='tour-label'>Tap to take the tour!</p>
        </div>

    </div>


</section>

</section>
<section class='main-page'>
    <div class='fixed-search-bar invisible'>
        <div class='nav-container'>
            <div class='nav-label'>Millennials </div>
            <nav class='nav-bar'>
                {{!-- <img src='assets/images/tmp_nav.png'> --}}

                <div class='search-verb' data-intro='Hello step one!'>
                    <select class='search-verb__input' id='search-verb__input'></select>
                </div>
                <form class='search-noun'>
                    <input class='search-noun__input' type="text" name="search" placeholder="noun">
                </form>
            </nav>
        </div>
    </div>
    <div class='main-page__sidebar hidden'>
        <div class='mark'><a href='https://www.pudding.cool'><img inline src='pudding/logo.svg'></a></div>
        <div class='info'><img inline src='info.svg'></div>
    </div>

    <div class='main-page__content mono'>
        <div class='content'>
            <div class='tooltip hidden'></div>
        </div>
        <div class='method'>
            <p class='method__hed'>METHOD</p>
            <p class='method__body'>
                We used the Event Registry API to scrape news articles about Millennials. The query filtered on news
                articles with the word “Millennials”, “millennials”, “Millennial”, or “millennial” in the headline
                published
                between June 15, 2015 and June 15, 2019. This query yielded nearly 38,000 articles. We obtained article
                metadata, including the URL, title, body, and publishing date from the query. Sometimes, multiple news
                outlets in the same media family publish the same article; removing these duplicates yielded a total of
                26,565 articles.
            </p>
            <p class='method__body'>
                We used the Spacy Python package to part-of-speech tag the headline text. Part-of-speech tagging
                identifies
                each word’s part-of-speech in the sentence (e.g., a noun versus a verb versus an adverb). We filtered on
                articles headlines in which Millennials perform an action (“Millennials are killing the napkin
                industry'”,
                for instance). Narrowing our focus made it easier to identify the focus of their love and/or
                destruction.
                Using the newly tagged headlines, we subsetted the main dataset on headlines where “millennials” is the
                subject noun of the sentence, yielding 12,500 articles. Of these articles, we also removed articles with
                less than five sentences in the body.
            </p>
            <p class='method__body'>
                The objects you can explore are the noun chunks Spacy identified as the first direct object in the
                headline.
                We opted to look at noun chunks instead of just nouns to get a complete picture of the items Millennials
                are
                interacting with. Noun chunks include adjectives plus nouns, such as “second home” instead of “home”.
                This
                method left us with about 4,000 unique nouns and 2,000 unique verbs.
            </p>
        </div>
    </div>


</section>

{{!-- <div class='intro'>
	<h1 class='intro__hed'>{{meta.title}}</h1>
	<p class='intro__dek'>{{meta.description}}</p>
	<p class='intro__byline'>By
		<a href='{{meta.author.url}}' target='_blank'>
			<strong>{{meta.author.name}}</strong>
		</a>
	</p>
	<time class='intro__time'>Month 2019</time>
</div> --}}